{{ define "main" }}

<section class="pt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-10 mx-auto text-center">
        <h2>{{ i18n "treatments"}}</h2>
      </div>
    </div>
  </div>
</section>

<section class="pt-4">
<div class="col-lg-9 mx-auto mb-5 mb-lg-0">
  <div class="content">{{.Content}}</div>
</div>
</section>

<!-- menu -->
{{ if gt (len .Params.Menu) 0 }}
<section>
  <div class="container">
    <div class="row justify-content-around">
      {{ range .Params.Menu }}
      <div class="col-lg-6 col-sm-12 margin-menu">
        <div class="card bg-transparent">
          <div class="card-body p-0">
            <img src="{{ .image | absURL }}" class="card-img-top mb-3" alt="">
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /team -->
{{ end }}