<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>

<script src="https://cdn.jsdelivr.net/gh/packetsoftware/cfmwidget@v0.1.17/widget.js"></script><div id="chat-app"></div>
<script>ReactChatBot.config({apiKey: "a7b23ac3f-80f1-4ff7-b6e6-699744541c1a", selector: "#chat-app"});ReactChatBot.widgets.myWidget.new().render()</script>

	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
</body>

</html>
